/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 10px 0;
    box-shadow: 0 4px 6px -6px #222;
    border-bottom: 4px solid #FF8C00;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 40px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 10px;
}

nav ul .brand {
    margin-left: 20px;
    flex-grow: 1;
    text-transform: none;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 200px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 80px; /* Adjusted to make space for nav bar */
    padding-top: 50px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1000; /* Lielāks z-index, lai būtu virs jaunās joslas */
    padding: 10px 0;
    box-shadow: 0 4px 6px -6px #222;
}

/* Stils jaunajai filtrēšanas joslai (nav.filters-nav) */
nav.filters-nav {
    position: fixed;
    display: flex;
    top: 60px; /* Attālums no augšas, pielāgojiet atbilstoši jūsu dizainam */
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 999; /* Mazāks z-index nekā header, bet joprojām pārāk tam, lai būtu virs pārējā satura */
    padding: 10px 20px;
    box-shadow: none;
    border: none;
    box-shadow: 0 4px 6px -6px #222;
}

nav.filters-nav .filters {
    display: flex;
    align-items: center;
}

nav.filters-nav label,
nav.filters-nav select,
nav.filters-nav input[type="checkbox"] {
    margin-right: 10px;
}

nav.filters-nav button.add-recipe-btn {
    background-color: #FF8C00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    
    right: 20px; /* attālums no labās puses */
    transform: translateY(-50%); /* centrs vertikāli */
}

nav.filters-nav button.add-recipe-btn:hover {
    background-color: #FFA726;
}

aside {
    width: 170px; /* Adjusted width */
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    position: sticky; /* Saglabāt aside, lai tas paliktu redzams, kad tiek ritināta */
    
}

aside h3 {
    text-transform: uppercase;
    color: rgb(64, 64, 131);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

aside ul:not(:last-child) {
    border-bottom: 1px solid rgb(64, 64, 131);
    padding-top: 10px;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

aside li a {
    color: rgba(64, 64, 131, 0.7);
    text-decoration: none;
    text-transform: none;
    display: block;
    padding: 8px 0;
    transition: color 0.3s ease;
}

aside li a:hover {
    color: rgb(64, 64, 131);
}

section {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    max-height: calc(100vh - 200px); /* Piemērots augstums, pielāgojiet pēc vajadzības */
    overflow-y: auto;
}

article.recipe {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    max-width: 450px; /* Norādiet maksimālo platumu, lai saglabātu izmēru */
    max-height: 400px; /* Piemēram, norādiet maksimālo augstumu */
    overflow-y: auto; /* Pielāgojiet overflow, ja saturš iziet no maksimālās augstuma */
    margin: 0 auto; /* Centrējiet elementu, ja vēlaties, lai tas būtu centrā */
}

article img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.recipe-title {
    color: rgb(64, 64, 131);
    font-weight: bold;
    margin-top: 10px;
}

.recipe-time {
    color: rgba(64, 64, 131, 0.7);
    margin-top: 5px;
}

footer {
    background-color: #f8f9fa;
    color: #FF8C00;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
