/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    overflow-x: hidden; 
}

/* Header and navigation styling */
header {
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px -6px #222;
    border-bottom: 4px solid #FF8C00;
    padding: 20px 0; 
}

/* Navigation styles */
nav {
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 20px 0; 
    box-shadow: 0 4px 6px -6px #222;
    border-bottom: 4px solid #FF8C00;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
    position: relative; 
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 10px;
    transition: background-color 0.3s ease;
    font-size: 1.2em; 
}

nav ul li a:hover {
    background-color: #f1f1f1;
}

nav ul .brand {
    margin-left: 20px;
    flex-grow: 1;
    text-transform: none;
    font-weight: bold;
    font-size: x-large;
}

/* Dropdown styles */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 200px; 
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Logout button styles */
.logout-button {
    background-color: transparent;
    border: 2px solid #FF8C00;
    color: #FF8C00;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-button:hover {
    background-color: #FF8C00;
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    flex-direction: column;
}

footer {
    background-color: #f8f9fa;
    color: #FF8C00;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}

.container {
    text-align: center;
    margin-top: 150px; 
    padding: 20px;
}

h1 {
    font-size: 2em;
    color: #FF8C00;
    margin-bottom: 20px;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.recipe {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.recipe img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.recipe-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    position: relative;
}

.recipe-title {
    font-size: 1.5em;
    color: #FF8C00;
    font-weight: bold;
    margin-bottom: 10px;
}

.recipe-time {
    font-size: 1.2em;
    color: rgba(64, 64, 131, 0.7);
    margin-bottom: 10px;
}

.recipe-author {
    font-size: 1em;
    color: rgba(64, 64, 131, 0.7);
    text-align: right;
    margin-top: auto;
}

.like-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: red;
    position: absolute;
    top: 0;
    right: 0;
}

.liked {
    color: red;
}

.unliked {
    color: gray;
}

.no-recipes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1;
}

.no-recipes {
    color: red;
    font-size: 1.2em;
    margin-top: 20px;
}
